<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunctiontocosmosdb3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cb4ff1fb-151e-44b8-be72-e30d18b1d76d/resourceGroups/TestFunctionToCosmosDb_group/providers/Microsoft.Web/sites/TestFunctionToCosmosDb3</ResourceId>
    <UserName>$TestFunctionToCosmosDb3</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://testfunctiontocosmosdb3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>